---
---
{% include header.html banner=true %}

  <div class="row">
    <div class="col-md-4">
      <h2>About Us</h2>
      <p>Stratum Logic is a small company based in Cincinnati, Ohio that focuses on Java and C# development, but also can develop in Javascript, Ruby, Python, Groovy, and more.</p>
      <p>Our services include developing desktop, web applications, mobile applications for the iPhone or Android, and webservices. </p>
      <p>If this is your first time needing software developed, that's no problem.  Stratum Logic can help you choose a platform, language, system setup, security and so on.</p>
    </div>
    <div class="col-md-4">
      <h2>Requirements</h2>
      <p>Whether you want a new app developed, or you need to update an existing app, one of the most important tasks is defining what needs to be done.</p>
      <p>Stratum Logic can help you find out what all the questions are, and then help you find out what the answers are.</p>
   </div>
    <div class="col-md-4">
      <h2>Interface Design</h2>
      <p>Applications should be simple to use. We all know that, but often the applications we build for ourselves fall short of our wishes.  Often our main focus is to get the core functionality done first, and then focus on usability afterward.  And then when the core functionality expands, the usability concerns get pushed back, again and again.</p>
      <p>The good news is that Stratum Logic can help. Most times, applications that are easy to use can be made without complex programming. Just smart choices. There are times, though, that smart choices alone can't solve making the application easy to use-- and when that is the case, we can help.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Development</h2>
      <p>We can develop in almost environment and language, and with many of the popular frameworks that go with them. The lists below do not aim to be exhaustive, please contact us if you have need for a skill and don't see it listed below.</p>
      <ul>
      <li>Java: Hibernate, Spring, Swing, Struts, Seam, Abates, Webservices, JSF, Tapestry, EJB3, Groovy, GWT</li>
      <li>.NET: C# ASP.NET Webservices</li>
      <li>Ruby: Rails, ActiveRecord</li>
      <li>Web: Javascript, JQuery, Dodge, Prototype, Scriptaculous</li>
      <li>Database: Oracle, MySql, SqlServer DB2</li>
      <li>XML: XPath, XQuery, Schemas</li>
      </ul>
    </div>

    <div class="col-md-4">
      <h2>Project Coordination and Management</h2>
      <p>Whether you need a person to simply track tasks to ensure they are progressing, or whether you need somebody to take on full ownership of the project, Stratum Logic can give you the help you need. </p>
    </div>


    <div class="col-md-4">
      <h2>Security Audit</h2>
      <p>Stratum Logic can audit the security of your application. We can run port scans and look for other security issues.  We can analyze your code.</p>
    </div>

  </div>
  <div class="row">

    <div class="col-md-4">
      <h2>Interface Design</h2>
      <p>Applications should be simple to use. We all know that, but often the applications we build for ourselves fall short of our wishes.  Often our main focus is to get the core functionality done first, and then focus on usability afterward.  And then when the core functionality expands, the usability concerns get pushed back, again and again.</p>
      <p>The good news is that Stratum Logic can help. Most times, applications that are easy to use can be made without complex programming. Just smart choices. There are times, though, that smart choices alone can't solve making the application easy to use-- and when that is the case, we can help.</p>
    </div>

    <div class="col-md-4">
      <h2>Platforms</h2>
      <p>Stratum Logic can develop applications for just about any platform</p>
      <ul>
      <li>Firefox, Internet Exporer, Safari</li>
      <li>iPhone, Android</li>
      <li>Windows, OS X, Linux</li>
      </ul>
    </div>


    <div class="col-md-4">
      <h2>Contact Us</h2>
      <p>We want to hear from you!</p>
      <p><a href="/contactus">Contact us now for a free quote</a></p>
      </p>
    </div>
  </div>
{% include footer.html %}
